<% content_for :sidebar do %>

  <%= print_tree_list(@skills,@skill) %>
<% end %>

<h2><%= fulltitle %></h2>

<h3>Lessons</h3>

<div id="lessonContainer" class="itemContainer clearfix">
		<%= render "primary" %>
</div>

<h3>Challenges</h3>
<div id="challengeContainer" class="itemContainer clearfix">
  <%= render "challenges" %>
</div>
<h3>Other Resources</h3>
<div id="resourceContainer" class="itemContainer clearfix">
		<%= render "other" %>
</div>
