<script>$(function(){ skillsPage.init() });</script>

<% if @skills -%>
  <%= link_to "Training Index", '#', :class => "indexLink" %>
  <div id="training_index_popover">
    <%= link_to "Training Index", '#', :class => "indexLink" %>
    <%= print_tree_cols(@skills) %>
  </div>
<% end -%>

<% if @category %>
<div id="skillNav">
<h4><%= short_title @category %></h4>
<ul class="skill_tree">
  <li><%= link_to content_tag(:span,' ',:class => 'num') + "Getting Started",
                              named_skill_path(@category.slug),
                              :class => (@skill == @category) ? "current" : "" %>
  </li>
  <li>
    <span class="top_level">Lessons</span>
    <ul>

      <% if @category.descendants.any? %>

        <% @category.descendants.each_with_index do |skill,index| %>

          <li><%= link_to content_tag(:span,index+1,:class => 'num')+skill.title,
                  categorized_lesson_index_path(skill.slug),
                  :class => (@skill == skill && params[:controller] == 'lessons') ? "current" : "" %></li>
        <% end %>

      <% end %>

    </ul>
  </li>
  <li>
    <span class="top_level">Challenges</span>
    <ul>

      <% if @category.descendants.any? %>
        <% @category.descendants.each_with_index do |skill,index| %>


          <li><%= link_to content_tag(:span,index+1,:class => 'num')+skill.title,
            categorized_challenge_index_path(skill.slug),
            :class => (@skill == skill && params[:controller] == 'challenges') ? "current" : "" %>
          </li>
        <% end %>

      <% end %>

    </ul>
  </li>
</ul>
</div>
<% end %>
