<%= link_to "Training Index", training_index_path, :class => "indexLink" %>

<h4><%= short_title %></h4>
<ul class="skill_tree">
  <li><%= link_to "Getting Started", training_path, :class => (skill_content_display == "skillstart") ? "current" : "" %></li>
  <li>
    <span class="top_level">Lessons</span>
    <ul>
    <% @skill.lessons.primary_lessons.each do |item| %>
      
      <% link_class = (@lesson && @lesson.id == item.id) ? "current": "" %>
    
      <li><%= link_to item.title, training_lesson_path(@skill.slug,item), :class => link_class %></li>
    <% end %>
    
    <% if skill_content_display == "newlesson" && @lesson.list_scope == 1 %>
      <li><%= link_to "New Lesson", new_training_lesson_path, :class => "current" %></li>
    <% end %>
    </ul>
  </li>
  <li>
    <span class="top_level">Challenges</span>
    <ul>
      <% @skill.challenges.each do |item| %>
        <% link_class = (@challenge && @challenge.id == item.id) ? "current": "" %>
    
        <li><%= link_to item.title, training_challenge_path(@skill.slug,item), :class => link_class %></li>
      <% end %>
    </ul>
    <% if skill_content_display == "newchallenge" %>
      <li><%= link_to "New Challenge", new_training_challenge_path, :class => "current" %></li>
    <% end %>
  </li>
  <li>
    <span class="top_level">Other Resources</span>
    <ul>
    <% @skill.lessons.other_lessons.each do |item| %>
      
      <% link_class = (@lesson && @lesson.id == item.id) ? "current": "" %>
    
      <li><%= link_to item.title, training_lesson_path(@skill.slug,item), :class => link_class %></li>
    <% end %>
    
    <% if skill_content_display == "newlesson" && @lesson.list_scope == 2 %>
      <li><%= link_to "New Resource", new_training_lesson_path(:list_scope => 2), :class => "current" %></li>
    <% end %>
    </ul>
  </li>
</ul>
