<div id="content">
  <div class="site-section right-border">
    <%= link_to content_tag(:div, '', :id => "internship-icon", :class => "large-icon"), internship_index_path %>
    <%= link_to content_tag(:h3, 'Internship Program', :class => "white_link"), internship_index_path %>
    <p>DMI offers the student internship program. A multimedia design and development training program for UT students.</p>
    <%= link_to 'LEARN MORE >', internship_index_path %>
  </div>
  <div class="site-section right-border left-border">
    <%= link_to content_tag(:div, '', :id => "training-icon", :class => "large-icon"), training_index_path %>
    <%= link_to content_tag(:h3, 'Online Training', :class => "white_link"), training_index_path %>
    <p>DMI online training covers a variety of design and development topics. It is available to anyone.</p>
    <%= link_to 'LEARN MORE >', training_index_path %>
  </div>    
  <div class="site-section left-border">
    <%= link_to content_tag(:div, '', :id => "gallery-icon", :class => "large-icon"), gallery_index_path %>
    <%= link_to content_tag(:h3, 'Project Gallery', :class => "white_link"), gallery_index_path %>
    <p>Go to the Gallery to check out the work of previous DMI participants and other UT students.</p>
    <%= link_to 'LEARN MORE >', gallery_index_path %>
  </div>

  <div class="clear"></div>  
</div>

