<div id="content">
  <div id="creative-text">Creative line of text</div>

  <div class="site-section right-border">
    <%= link_to content_tag(:div, '', :id => "internship-icon"), internship_index_path %>
    <%= link_to content_tag(:h3, 'Internship Program', :class => "white_link"), internship_index_path %>
    <p>The Center for Teaching and Learning (CTL) offers the CTL Digital Media Institute: a four-week (80-hour)</p>
    <%= link_to 'LEARN MORE >', internship_index_path %>
  </div>
  <div class="site-section right-border left-border">
    <%= link_to content_tag(:div, '', :id => "training-icon"), training_index_path %>
    <%= link_to content_tag(:h3, 'Online Training', :class => "white_link"), training_index_path %>
    <p>The DMI training is online and available to anyone.  It is not restricted to students that are accepted into the</p>
    <%= link_to 'LEARN MORE >', training_index_path %>
  </div>    
  <div class="site-section left-border">
    <%= link_to content_tag(:div, '', :id => "gallery-icon"), gallery_index_path %>
    <%= link_to content_tag(:h3, 'Project Gallery', :class => "white_link"), gallery_index_path %>
    <p>Go to the Gallery to check out the work of previous DMI participants and other UT students.</p>
    <%= link_to 'LEARN MORE >', gallery_index_path %>
  </div>

  <div class="clear"></div>  
</div>

