  <div style="padding:0; margin:0; display:inline">
    <%= f.hidden_field :kind %>
    
  </div>
  <div class="field">
    <%= select_tag :content_location, options_for_select(['External','Internal'],(["Video","Link"].include?(@lesson.kind) || @lesson.kind.nil? ? 'External' : 'Internal')) %>
  </div>
	<div id="linkField" class="field dynamic">
    <%= f.label :link, "Link" %>
    <%= f.text_field :link %>
    <p id="linkInstructions"></p>
  </div>
  <div id="titleField" class="field dynamic">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  
  <div id="thumbnailField" class="field dynamic">
    <%= f.hidden_field :thumbnail %>
    <div id="thumbnailImage"></div>
  </div>
  <div id="contentField" class="field dynamic">
    <%= f.label :content, "Content" %>
    <%= f.text_area :content %>
  </div>