  <div style="padding:0; margin:0; display:inline">
    <%= f.hidden_field :kind %>
    
  </div>
  <div class="field">
    <%= select_tag :content_location, options_for_select(['External','Internal'],(["Video","Link"].include?(@lesson.kind) || @lesson.kind.nil? ? 'External' : 'Internal')) %>
  </div>
	<div id="linkField" class="field dynamic">
    <%= f.label :link, "Link" %>
    <%= f.text_field :link %>
    <p id="linkInstructions"></p>
  </div>
  <div id="titleField" class="field dynamic">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  
  <div id="thumbnailField" class="field dynamic">
    <%= f.hidden_field :thumbnail %>
    <div id="thumbnailImage">
      <% if @lesson.thumbnail -%>
        <img src="<%= @lesson.thumbnail %>"/>
      <% end -%>
    </div>
  </div>
  <div id="allowSubmissionField" class="field">
    <%= f.label :allow_submission, "Allow Submissions" %>
    <%= f.check_box :allow_submission %>
  </div>
  <div id="submissionTypeField" class="field">
    <%= f.label :submission_type, "Submission Type" %>
    <%= f.collection_select :submission_type, Submission::MEDIA_TYPES, :to_s, :humanize %>
  </div>
  <div id="assetsField">
    <%= f.label :assets,"Assets" -%>
    <%= f.hidden_field :assets -%>
    <p id="assets_display"><%= @lesson.assets %></p>
    <a href="javascript:fileBrowser.show('<%= upload_index_path(:type => 'lesson-assets') %>',lform.chooseAssets)">Choose File...</a>&nbsp;&nbsp;<a href="javascript:lform.clearAssets()" class="clearAssetsLink">Clear</a>
  </div>
  <div id="contentField" class="field dynamic">
    <%= f.label :content, "Content" %>
    <a href="javascript:fileBrowser.show('<%= upload_index_path(:type => 'images') %>',lform.contentAddImage)">Insert Image</a>
    <%= f.text_area :content %>
  </div>
