<% content_for :sidebar do %>

<%=render "shared/skill_nav" %>
<% end %>

<h2>Edit <%= (@lesson.list_scope == 1) ? "Lesson" : "Resource" %></h2>

<%= form_for(@lesson, :url => training_lesson_path) do |f| %>
  <%= render "shared/error_messages", :obj => @lesson %>
  
  <%= render "fields", :f => f %>
  
  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end %>

<script>
  $(lessonForm.init("#edit_lesson"));
</script>