<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<% if @skill -%>
  <h2><%= short_title @skill %></h2>
  <%= render :partial => 'lesson_nav' %>
  <%  url = categorized_lesson_path(@skill.slug,@lesson) -%>
<% else -%>
  <%  url = lesson_path(@lesson) -%>

<% end -%>

<h2>Edit Lesson</h2>

<%= form_for(@lesson, :url => url) do |f| %>
  <%= render "shared/error_messages", :obj => @lesson %>

  <% if @skill %>
    <div style="padding:0; margin:0; display:inline">
      <%= hidden_field(:skill, :id) %>
    </div>
  <% end %>
  <%= render "fields", :f => f %>

  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end %>

<script>
  var lform;
  $(function(){ lform = lessonForm(".edit_lesson") });
</script>
