<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2>Edit Lesson</h2>

<%= form_for(@lesson) do |f| %>
  <%= render "shared/error_messages", :obj => @lesson %>

  <% if @skill %>
    <div style="padding:0; margin:0; display:inline">
      <%= hidden_field(:skill, :id) %>
    </div>
  <% end %>
  <%= render "fields", :f => f %>

  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end %>

<script>
  var lform;
  $(function(){ lform = lessonForm(".edit_lesson") });
</script>
