<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<% content_for :topnav do -%>
  <% if @skill -%>
    <h2><%= short_title @skill %></h2>
    <%= render :partial => 'lesson_nav' %>
    <h2>Edit Lesson</h2>
  <% end -%>
<% end -%>


<%  url = (@skill) ? categorized_lesson_path(@skill.slug,@lesson) : lesson_path(@lesson) -%>

<% if request.xhr? -%>
  <div id="adminLinks">
    <%= link_to "< Back", url, :class => "back-link" %>
  </div>
  <div class="clear"></div>
<% end -%>

<%= form_for(@lesson, :url => url, :remote => request.xhr?) do |f| %>
  <%= render "shared/error_messages", :obj => @lesson %>

  <% if @skill %>
    <div style="padding:0; margin:0; display:inline">
      <%= hidden_field(:skill, :id) %>
    </div>
  <% end %>
  <%= render "fields", :f => f %>

  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end %>

<script>
  var lform;
  var vimeoRegexp = /<%= LessonsHelper::VIMEO_REGEX.source %>/;
  var youtubeRegexp = /<%= LessonsHelper::YOUTUBE_REGEX.source %>/;
  auxCallback = function(){ lform = lessonForm(".edit_lesson",vimeoRegexp,youtubeRegexp) };

  <% if !request.xhr? -%>
      $(auxCallback);
  <% end -%>
</script>
