<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>


<% content_for :topnav do -%>
  <% if @skill -%>
    <h2><%= short_title @skill %></h2>
    <%= render :partial => 'lesson_nav' %>
    <h2>New Lesson</h2>
  <% end -%>
<% end -%>


<%  url = (@skill) ? categorized_lesson_index_path(@skill.slug) : lessons_path() -%>


<%= form_for(@lesson, :url => url) do |f| %>
  <%= render "shared/error_messages", :obj => @lesson %>
  
  <%= render "fields", :f => f %>
  
  <% if @skill_lesson %>
    <div style="padding:0; margin:0; display:inline">
      <%= hidden_field(:skill_lesson, :skill_id) %>
      <%= hidden_field(:skill_lesson, :list_scope) %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end %>

<script>
  var lform;
  $(function(){ lform = lessonForm(".new_lesson") });
</script>
