<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2><%= @title%></h2>

<% if admin? %>
  <div id="adminLinks">
    <% if @skill %>
      <%= link_to "Edit", edit_categorized_lesson_path(@skill.slug) %>
      <%= link_to "Delete from this Skill", categorized_lesson_path, :class => 'destructive',
        :remote => true, :method => :delete, :confirm => "Are you Sure?" %>
    <% elsif %>
      <%= link_to "Edit", edit_lesson_path %>
      <%= link_to "Delete", lesson_path, :class => 'destructive', :remote => true, :method => :delete,
      :confirm => "Are you sure?" %>
    <% end %>
  </div>
<% end %>

<% if @lesson.kind == "Video" %>
  <%= render "videoplayer", :player_link => player_link(@lesson.link) %>
<% end %>
  
<div id="lessonContent" class="itemContent">
  <%= sanitize @lesson.content %>
</div>

<% if @lesson.kind == "Link" %>
<div><%= link_to "Go to external site.", @lesson.link, :target => "_blank" %></div>
<% end %>
