<% content_for :sidebar do %>

<%=render "skill_nav" %>
<% end %>

<h2><%= @title%></h2>

<% if admin? %>
  <div id="adminLinks">
    <%= link_to "Edit", edit_training_lesson_path %>
    <%= link_to "Delete", training_lesson_path, :method => :delete, :confirm => "Are you sure you want to delete this lesson?" %>
  </div>
<% end %>

<iframe src="http://player.vimeo.com/video/<%= @video_id %>?title=0&amp;byline=0&amp;portrait=0" 
  width="620" height="349" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
</iframe>
<div id="lessonContent">
  <%= sanitize @lesson.content %>
</div>
