<div id="titleField" class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :submission_type, "Submission Type" %>
  <%= f.collection_select :submission_type, Submission::MEDIA_TYPES, :to_s, :humanize %>
</div>

<div id="assetsField">
  <%= f.label :assets,"Assets" -%>
  <%= f.hidden_field :assets -%>
  <p id="assets_display"><%= @current_challenge.assets %></p>
  <a href="javascript:fileBrowser.show('<%= upload_index_path(:type => 'challenge-assets') %>',cform.chooseAssets)">Choose File...</a>&nbsp;&nbsp;<a href="javascript:cform.clearAssets()" class="clearAssetsLink">Clear</a>

</div>
<div id="contentField" class="field">
  <%= f.label :content, "Content" %>
  <a href="javascript:fileBrowser.show('<%= upload_index_path(:type => 'images') %>',cform.contentAddImage)">Insert Image</a>
  <%= f.text_area :content %>
</div>
