<div id="titleField" class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
</div>

<div id="contentField" class="field">
  <%= f.label :content, "Content" %>
  <a href="javascript:fileBrowser.show('<%= upload_index_path(:type => 'images') %>',challengeForm.contentAddImage)">Insert Image</a>
  <%= f.text_area :content %>
</div>
