<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<% content_for :topnav do -%>
  <% if @skill -%>
    <h2><%= short_title @skill %></h2>
    <%= render :partial => 'challenge_nav' %>
    <h2>Edit Challenge</h2>
  <% end -%>
<% end -%>

<%  url = (@skill) ? categorized_challenge_path(@skill.slug,@current_challenge) : challenge_path(@current_challenge) -%>


<%= form_for(@current_challenge, :url => url, :remote => request.xhr?) do |f| %>
  <%= render "shared/error_messages", :obj => @current_challenge %>

  <% if @skill %>
    <div style="padding:0; margin:0; display:inline">
      <%= hidden_field(:skill, :id) %>
    </div>
  <% end %>

  <%= render "fields", :f => f %>
  
  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end -%>

<script>
  var cform;
  initCallback =  function(){ cform = challengeForm() };

  <% if !request.xhr? -%>
      $(initCallback);
  <% end -%>
</script>
