<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2>New Challenge</h2>

<%= form_for(@challenge) do |f| %>
  <%= render "shared/error_messages", :obj => @challenge %>
  
  <%= render "fields", :f => f %>
  
  <div class="actions">
    <%= f.submit "Save", :disable_with => 'Saving...' %>
  </div>
<% end -%>