<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2><%= @challenge.title %></h2>
<% if admin? %>
  <div id="adminLinks">
    <% if @skill %>
      <%= link_to "Edit", edit_categorized_challenge_path(@skill.slug,@challenge) %>
    <% elsif %>
      <%= link_to "Edit", edit_challenge_path %>
    <% end %>
  </div>
<% end %>
<div id="challengeContent" class="itemContent">
  <%= sanitize @challenge.content %>
</div>
