<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<% content_for :topnav do -%>
  <% if @skill -%>
    <h2><%= short_title @skill %></h2>
    <%= render :partial => 'challenge_nav' %>
    <h2><%= @current_challenge.title %></h2>
  <% end -%>
<% end -%>

<%= render :partial => 'challenge_subnav' %>

<% if can? :update, Challenge %>
  <div id="adminLinks">
    <% if @skill %>
      <%= link_to "Edit", edit_categorized_challenge_path(@skill.slug,@current_challenge) %>
      <%= link_to "Delete from this Skill", 
                  categorized_challenge_path(@skill.slug,@current_challenge), 
                  :class => 'destructive',
                  :remote => true, :method => :delete, :confirm => "Are you sure?" %>
    <% elsif %>
      <%= link_to "Edit", edit_challenge_path %>
      <%= link_to "Delete", challenge_path, :class => 'destructive', 
        :remote => true, :method => :delete,
        :confirm => "Are You sure?" %>
    <% end %>
  </div>
<% end %>

<div id="challenge-sections" class="clear">
  <div id="challenge-main">
    <% if !@current_challenge.assets.blank? -%>
      <%= link_to "Download Assets", @current_challenge.assets, :id => "challenge-files" %>
    <% end -%>
    
    <%= sanitize @current_challenge.content %>

    <% if @submission && ( @submission.attachment.present? || @submission.link.present? ) -%>
      <%= render @submission %>
    <% elsif can? :create, Submission -%>
      <%= render :partial => 'submissions/image_form', :locals => { :answerable => @current_challenge } %>
    <% end -%>
  </div>
</div>
<script>
  <% if(request.xhr?) -%>
    var challengeDestroyCallback = function(url){ 
      window.location.reload();
    };
  <% else -%>
    var challengeDestroyCallback = function(url){ window.location = url };
  <% end -%>
</script>



