<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2><%= @challenge.title %></h2>
<% if admin? %>
  <div id="adminLinks">
    <%= link_to "Edit", edit_training_challenge_path %>
    <%= link_to "Delete", training_challenge_path, :method => :delete, 
        :confirm => "Are you sure you want to delete this challenge?" %>
  </div>
<% end %>
<div id="challengeContent" class="itemContent">
  <%= sanitize @challenge.content %>
</div>