<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2><%= @current_challenge.title %></h2>
<% if can? :update, Challenge %>
  <div id="adminLinks">
    <% if @skill %>
      <%= link_to "Edit", edit_categorized_challenge_path(@skill.slug,@current_challenge) %>
      <%= link_to "Delete from this Skill", categorized_challenge_path, :class => 'destructive',
        :remote => true, :method => :delete, :confirm => "Are you sure?" %>
    <% elsif %>
      <%= link_to "Edit", edit_challenge_path %>
      <%= link_to "Delete", challenge_path, :class => 'destructive', 
        :remote => true, :method => :delete,
        :confirm => "Are You sure?" %>
    <% end %>
  </div>
<% end %>
  <% if !@current_challenge.assets.blank? -%>
    <div style="float:right"><%= link_to "Download Assets", @current_challenge.assets, :class => "downloadLink" %></div>
  <% end -%>
<div id="challengeContent" class="itemContent">
  <%= sanitize @current_challenge.content %>
</div>

<% if @submission.attachment.present? -%>
  <h3>Your Answer</h3>
  <%= image_tag @submission.attachment.url %>
<% elsif can? :create, Submission -%>
  <h3>Submit Your Answer</h3>
  <div id="loading_image"><%= image_tag "ajax-loader.gif" %></div>
  <%= form_for @submission, :html => {:multipart => true, :target => "upload_target"} do |f| %>
    <div class="field">
      <%= f.label :attachment, "Upload File" %>
      <%= f.file_field :attachment  %>
      <p>Allowed files: jpg, gif, or png</p>
    </div>
    <div class="or">OR</div>
    <div class="field">
      <%= f.label :link, "Submit a Link" %>
      <%= f.text_field :link %>
      <p>Paste a link from Youtube, Vimeo or other external site</p>
    </div>
    <div>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :challenge_id %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Answer" %>
      <%= f.submit "Reset", :name => "reset", :type => :reset %>
    </div>
  <% end -%>
  <iframe id="upload_target"></iframe>
  <script>
    var answerForm;
    $(function(){
      answerForm = submissionsForm({ form_id: "#new_submission", loading_id:"#loading_image" });
    });
  </script>
<% end -%>

<% if @skill && @challenge_list.many? -%>
  <h3>More Challenges Like This</h3>
  <div>
    <% @challenge_list.each_with_index do |ch,index| -%>
      <% linkClass = ( ch.challenge_id == @current_challenge.id ) ?
                        'relatedChallenge selected' : 'relatedChallenge' -%>

      <%= link_to "#{index + 1}", categorized_challenge_path(@skill.slug,ch),:class => linkClass %>
    <% end -%>

  </div>

<% end -%>


<% if can?( :create, Challenge ) && @skill -%>
  <%= link_to "+ Add related challenge", 
    new_categorized_challenge_path(@skill.slug, :parent_id => @root_challenge.id) -%>
<% end -%>

