<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>
<% if @skill -%>
  <h2><%= short_title @skill %></h2>
  <%= render :partial => 'challenge_nav' %>
<% end -%>

<h2><%= @current_challenge.title %></h2>
<% if can? :update, Challenge %>
  <div id="adminLinks">
    <% if @skill %>
      <%= link_to "Edit", edit_categorized_challenge_path(@skill.slug,@current_challenge) %>
      <%= link_to "Delete from this Skill", categorized_challenge_path(@skill.slug,@current_challenge), :class => 'destructive',
        :remote => true, :method => :delete, :confirm => "Are you sure?" %>
    <% elsif %>
      <%= link_to "Edit", edit_challenge_path %>
      <%= link_to "Delete", challenge_path, :class => 'destructive', 
        :remote => true, :method => :delete,
        :confirm => "Are You sure?" %>
    <% end %>
  </div>
<% end %>
  <% if !@current_challenge.assets.blank? -%>
    <div style="float:right"><%= link_to "Download Assets", @current_challenge.assets, :class => "downloadLink" %></div>
  <% end -%>
<div id="challengeContent" class="itemContent">
  <%= sanitize @current_challenge.content %>
</div>

<% if @submission && ( @submission.attachment.present? || @submission.link.present? ) -%>
  <%= render @submission %>
<% elsif can? :create, Submission -%>
  <%= render :partial => 'submissions/image_form', :locals => { :answerable => @current_challenge } %>
<% end -%>


