<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<h2><%= @current_challenge.title %></h2>
<% if can? :update, Challenge %>
  <div id="adminLinks">
    <% if @skill %>
      <%= link_to "Edit", edit_categorized_challenge_path(@skill.slug,@current_challenge) %>
      <%= link_to "Delete from this Skill", categorized_challenge_path, :class => 'destructive',
        :remote => true, :method => :delete, :confirm => "Are you sure?" %>
    <% elsif %>
      <%= link_to "Edit", edit_challenge_path %>
      <%= link_to "Delete", challenge_path, :class => 'destructive', 
        :remote => true, :method => :delete,
        :confirm => "Are You sure?" %>
    <% end %>
  </div>
<% end %>
  <% if !@current_challenge.assets.blank? -%>
    <div style="float:right"><%= link_to "Download Assets", @current_challenge.assets, :class => "downloadLink" %></div>
  <% end -%>
<div id="challengeContent" class="itemContent">
  <%= sanitize @current_challenge.content %>
</div>

<% if @submission && ( @submission.attachment.present? || @submission.link.present? ) -%>
  <%= render @submission %>
<% elsif can? :create, Submission -%>
  <%= render :partial => 'image_form' %>
<% end -%>

<% if @skill && @challenge_list.many? -%>
  <h3>More Challenges Like This</h3>
  <div>
    <% @challenge_list.each_with_index do |ch,index| -%>
      <% linkClass = ( ch.challenge_id == @current_challenge.id ) ?
                        'relatedChallenge selected' : 'relatedChallenge' -%>
      <%= link_to "#{index + 1}", categorized_challenge_path(@skill.slug,ch.challenge_id),:class => linkClass %>
    <% end -%>

  </div>

<% end -%>


<% if can?( :create, Challenge ) && @skill -%>
  <%= link_to "+ Add related challenge", 
    new_categorized_challenge_path(@skill.slug, :parent_id => @challenge_list[0].id) -%>
<% end -%>

