<!DOCTYPE html>
<html>
<head>
  <title>Digital Media Training</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page" class="container_12">
  <div id="user_links" class="grid_12">
    <% if(signed_in?) %>
      <%= link_to "Sign Out", signout_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign In", signin_path %> | <%= link_to "Create Account", signup_path %>
    <% end %>
  </div>
  <div id="header" class="grid_12"><h1><%= link_to "Digital Media Institute", root_path %></h1></div>
  <div id="top_navigation" class="grid_12">
    <ul>
      <li><%= link_to "Program", root_path %></li>
      <li><%= link_to "Training", training_index_path %></li>
      <li><%= link_to "Gallery", gallery_index_path %></li>
    </ul>
  </div>
    <div id="flash_messages" class="grid_12">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  <div class="grid_12">
  </div>
  <% if content_for?(:content) %>
    <%= yield(:content) %>
  <% else %>
    <div id="content" class="grid_12">
      <%= yield %>
    </div>
  <% end %>
  <div id="footer" class="grid_12"></div>
</div>

</body>
</html>
