<!DOCTYPE html>
<html>
<head>
  <title>Digital Media Training</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bluebar"></div>
  <header>
    <div id="dmiflag" >
      <%= link_to image_tag("DMIFlag.png", :width => 107, :height => 100), root_path %>
    </div>
    <div id="tagline">// TAG LINE?</div>
    
    <div id="topnav">
      <div id="main-nav">
      <ul class="right-border">
        <li><%= link_to "Internship", internship_index_path %></li>
        <li><%= link_to "Training", training_index_path %></li>
        <li><%= link_to "Gallery", gallery_index_path %></li>
      </ul>
      </div>
      <div id="user-nav">
        <ul>
          <% if(user_signed_in?) %>
            <li id="username"> <%= current_user.display_name -%></li>
            <li id="portfolio-link">My Portfolio</li>
            <% if can? :index, User -%>
              <li><%= link_to "Manage Users", users_path %></li>
            <% end -%>
            <li id="sign-out"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>

          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Create Account", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </header>


  <% if content_for?(:content) %>
    <%= yield(:content) %>
  <% else %>
    <div id="content">
      <%= yield %>
    </div>
  <% end %>


  <footer>
  <%= link_to image_tag("utlogo.png",
                        :height => 50,
                        :alt => "The University of Texas"),
                       "http://www.utexas.edu" %>

  <%= link_to image_tag("ctllogo.png", 
                         :height => 35, 
                         :alt => "Center for Teaching and Learning"),
                         "http://ctl.utexas.edu" %>
  </footer>

</body>
</html>
