<% content_for :content do %>
  <div id="shadow-div"></div> 
  <div id="training-banner">
  <h2><%= @title %></h2>
  </div>
<% if flash.any? -%>
  <div id="flash_messages" class="grid_12">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
<% end -%>
  <div id="content"><%= yield %></div>
<% end %>

<%= render :template => 'layouts/application' %>

